/**********TAG  SELECTORS******/
  body{
    background-color: #FEFBF3;
  }
  hr{
    border-color: #F8F0DF;
    border-style: dotted none none none;
    border-width: 5px;
    width: 10%;
  }
  img {
    height: 100px;
    border-radius: 25px;
  }
  h1{
    color: #79B4B7;
  }
  h2{
    color: #79B4B7;
  }
  h3{
      color: #79B4B7;
    }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111111;
    }

    header {
      background-color: #333333;
    }

/**********CLASS  SELECTORS******/
    .column {
      display: inline-flex;
      flex-direction: row;
      overflow-wrap: break-word;
      inline-size: 180px;
    }

    /* Left and right column */
    .column-side {
      display: inline-flex;
      flex-direction: row;
      overflow-wrap: break-word;
      inline-size: 180px;
    }

    /* Middle column */
    .column-middle {
      display: inline-flex;
      flex-direction: row ;
      overflow-wrap: break-word;
      inline-size: 180px;
    }

    /**********ID  SELECTORS******/
    #heading {
      color: #79B4B7;
    }
